.green {
	background: #003300; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#006600, #003300); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#006600, #003300); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#006600, #003300); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#006600, #003300); /* Standard syntax (must be last) */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00660', endColorstr='#003300');
}
.green:hover {
	background: #004d00;
	background: -webkit-gradient(linear, left top, left bottom, from(#004d00), to(#00330));
	background: -moz-linear-gradient(top,  #004d00,  #00330);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#004d00', endColorstr='#00330');
}
.green:active {
	color: #004d00;
	background: -webkit-gradient(linear, left top, left bottom, from(#004d00), to(#004400));
	background: -moz-linear-gradient(top,  #004d00,  #004400);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#004d00', endColorstr='#004400');
}
.greenslide {
	background: #003300; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#006600, #003300); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#006600, #003300); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#006600, #003300); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#006600, #003300); /* Standard syntax (must be last) */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00660', endColorstr='#003300');
}
.vaaleanruskea {
	background-image: url(img/puukuvio.jpg);
	background-size: cover;
}

.aksentti {
	background-color: #E6E2AF;
}

.highlight {
	background-color: whitesmoke;
<<<<<<< HEAD
=======
	width: 100%;
>>>>>>> origin/master
}

.shadow {
	box-shadow: 4px 6px 15px 3px black;
}

.nappi {
	text-decoration: none;
	display: block;
	line-height: 3em;
	text-align: center;
}

h1 {
	font-family: 'Cooper black', sans-serif;
	font-size: 3.5em;
	text-align: center;
	text-shadow: 2px 2px grey;

}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#wrapper {
	max-width: 62.5em;
	margin: auto;
	padding-top: 30px;

}

header {
	background-position: right;
	width: 100%;
	height: 48px;
}

header img {
	max-height: 100%;
	padding: 1em;
	box-sizing: border-box;
}


#top li {
	display: inline-block;
	width: 100%;
}

#top a {
	color: #FFF;
}

#top a:hover {
	background-color: #004d00;
}

#content-wrapper {
	float: left;
	width: 100%;
}

#left {
	width: 16%;
	float: left;
}

#left ul {
	margin: 0;
	padding: 0;
	display: block;
}

#left li {
	display: inline;
	width: 100%;
}

#left a {
	color: #000;
	font-size: 0.7em;
}

#left a:hover {
	background-color: #EFECCA;
}


#frm{
	border: solid gray 1px;
	width: 20%;
	border-radius: 5px;
	margin: 100px auto;
	background: white;
	padding: 50px;
}
#btn{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 69%;
}

main {
	width: 84%;
	float: left;
	padding: 1em;
	box-sizing: border-box;
}

figure {
	text-align: center;
	font-style: italic;
	font-size: 0.8em;
}

article img {
	width: 100%;
	max-width: 500px;
}

footer {
	padding: 1em 0;
	text-align: center;
	float: left;
	width: 100%;
	color: #FFF;
}

table {
	width: 80%;
	border-collapse: collapse;
}

td {
	border: 1px solid #000;
	padding: 0.5em;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}



@media screen and (min-width: 768px){
	#top ul:first-child {
		display: none !important;
	}

	#top ul {
		margin: 0;
		padding: 0;
		display: flex !important;
		display: -ms-flex !important;
		display: -webkit-flex !important;
		justify-content: space-around;
		-ms-justify-content: space-around;
		-webkit-justify-content: space-around;
	}
}

@media screen and (max-width: 767px){
	#top ul {
		margin: 0;
		padding: 0;
		display: none;
	}

	#top ul:first-child {
		display: block;
	}

	#left ul {
		display: none;
	}

	main {
		width: 100%;
	}
}
